*          text=auto

*.cs       text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf
*.props    text eol=crlf
*.targets  text eol=crlf

# Clean up
# git rm -rf --cached .
# git reset --hard HEAD

# ?
# git add --renormalize . && git commit 